body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}

img {
  width: 110px;
  margin: 0px;
  position: relative;
  right: -20px;
  top: -15px;
}

footer {
  padding: 10px;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin-left: 10px;
  display: inline;
}

.unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  top: -34px;
  display: inline;
}
